{% extends 'base.html' %}
{% block title %}Страница записи{% endblock %}
{% block content %}

<div class="bd-example">
   <div class="card">
      <h5 class="card-header">{{ bash_view['bash_name'] }}</h5>
      <div class="card-body">
         <h5 class="card-title">{{ bash_view['bash_command'] }}</h5>
         <p class="card-text">{{ bash_view['bash_description'] }}</p>
         <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary"
               href="{{ url_for('edit_bash_command', bash_id=bash_view['bash_id']) }}">Редактировать</a>
            <a class="btn btn-secondary" href="{{ url_for('bash_list_commands') }}">Вернуться к списку</a>
            <a class="btn btn-success" href="{{ url_for('add_bash_command') }}">Добавить новую</a>
            <form action="{{ url_for('delete_bash_command', bash_id=bash_view['bash_id'])}}" method="POST">
               <input type="submit" class="btn btn-danger" value="Удалить"
                  onclick="return confirm('Вы уверены что хотите удалить запись?')" />
            </form>
         </div>
      </div>
   </div>
</div>

{% endblock %}