{% extends "base.html" %} {% block title %}Команды bash{% endblock %} {% block content %}
   <!--В этом коде выводим кнопку добавления вне цикла, так как может не быть записей в таблицу-->
   <div class="card mb-3">
      <div class="card-header text-center">
         <a href="{{ url_for('add_bash_command') }}">Добавить запись в базу данных</a>
      </div>
   </div>
<table class="table">
   <thead>
      <tr>
         <th scope="col">Название</th>
         <th scope="col">Команда</th>
         <th scope="col">Описание команды</th>
      </tr>
   </thead>
   {% for bash_list in bash_list %}
   <tbody>
      <tr>
         <td>{{ bash_list['bash_name'] }}</td>
         <td>{{ bash_list['bash_command']  }}</td>
         <td>{{ bash_list['bash_description'] }}</td>
      </tr>
   </tbody>
   {% endfor %}
   </table>
{% endblock %}