{% extends "base.html" %} {% block title %}Команды bash{% endblock %} {% block content %}
<!--В этом коде выводим кнопку добавления вне цикла, так как может не быть записей в таблицу-->
<div class="card mb-3">
   <div class="card-header text-center">
      <a href="{{ url_for('add_bash_command') }}">Добавить запись в базу данных</a>
   </div>
</div>
<table class="table table-hover table-borderless align-middle table-responsive caption-top">
   <caption>Всего записей: {{ bash_list_count_print_int }}</caption>
   <thead class="table-light">
      <tr>
         <th scope="col">Название</th>
         <th scope="col">Команда</th>
         <th scope="col">Описание команды</th>
         <th scope="col">Действие</th>
      </tr>
   </thead>
   {% for bash_list in bash_list %}
   <tbody>
      <tr>
         <td>{{ bash_list['bash_name'] }}</td>
         <td>{{ bash_list['bash_command'] }}</td>
         <td>{{ bash_list['bash_description'] }}</td>
         <td>
            <ul class="list-group list-group-horizontal">
               <li class="list-group-item">
                  <a class="btn btn-success" href="{{ url_for('add_bash_command') }}"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                        viewBox="0 0 16 16">
                        <path
                           d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4">
                        </path>
                     </svg></a>
               </li>
               <li class="list-group-item">
                  <a class="btn btn-secondary"
                     href="{{ url_for('edit_bash_command', bash_id=bash_list['bash_id']) }}"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                           d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                        </path>
                        <path fill-rule="evenodd"
                           d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z">
                        </path>
                     </svg></a>
               </li>
               <li class="list-group-item">
                  <a class="btn btn-primary"
                     href="{{ url_for('get_post_bash_command', bash_id=bash_list['bash_id']) }}"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                        viewBox="0 0 16 16">
                        <path
                           d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z">
                        </path>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0">
                        </path>
                     </svg></a>
               </li>
               <li class="list-group-item">
                  <form action="{{ url_for('delete_bash_command', bash_id=bash_list['bash_id']) }}" method="POST">
                     <input type="submit" class="btn btn-danger" value="Удалить"
                        onclick="return confirm('Вы уверены что хотите удалить запись?')" />
                  </form>
               </li>
            </ul>
         </td>
      </tr>
   </tbody>
   {% endfor %}
</table>
{% endblock %}