{% extends 'base.html' %}
{% block title %}Добавить запись{% endblock %}
{% block content %}
{% include 'errors.html' %}
<div class="col-md-12 p-3">
   <div class="h-200 p-3 text-white bg-dark rounded-1">
      <h2 class="pb-2">Добавить новую запись</h2>
      <div class="d-flex flex-column h-200 p-3 pb-3 text-shadow-1">
         <form method="post">
            <div class="mb-3 mt-3">
               <label for="title" class="form-label">Название</label>
               <textarea class="form-control" id="title" name="title" rows="1" placeholder="Введите название записи" required></textarea>
            </div>
            <div class="mb-3">
               <label for="content" class="form-label">Текст записи</label>
               <textarea class="form-control" id="content" name="content" rows="3" placeholder="Введите текст записи" required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-light" value=>Добавить</button>
            <a class="btn btn-outline-light" href="{{ url_for('posts') }}">Вернуться на страницу записей</a>
         </form>
      </div>
   </div>
</div>
{% endblock %}
