{% extends 'base.html' %}
{% block title %}Добавить запись{% endblock %}
{% block content %}
{% include 'errors.html' %}
<div class="bd-example">
   <form method="post">
      <div class="mb-3 mt-3">
         <label for="title" class="form-label">Название</label>
         <textarea class="form-control" id="title" name="title" rows="1" placeholder="Введите название записи"
            required></textarea>
      </div>
      <div class="mb-3">
         <label for="content" class="form-label">Текст записи</label>
         <textarea class="form-control" id="content" name="content" rows="6" placeholder="Введите текст записи"
            required></textarea>
      </div>
      <button type="submit" class="btn btn-success" value=>Добавить</button>
      <a class="btn btn-secondary" href="{{ url_for('posts') }}">Вернуться на страницу записей</a>
   </form>
</div>
{% endblock %}