{% extends "base.html" %}
{% block title %}Записи{% endblock %}
{% block content %}
<div class="container px-4 py-5" id="featured-3">
   <div class="row g-4 py-1 row-cols-2 row-cols-lg-4">
      {% for post in posts %}
      <div class="col-md-6">
         <div class="h-200 p-5 text-white bg-dark rounded-3">
            <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
               <h2>{{ post['title'] }}</h2>
               <img src="/static/images/{{ post.image_post }}" class="rounded mx-auto d-block" >
               <a class="btn btn-outline-light m-2" href="{{ url_for('get_post', post_id=post['id']) }}">Перейти к записи</a>
               <a href="{{ url_for('edit_post', id=post['id']) }}" class="btn btn-outline-light m-2">Редактировать</a>
               <input type="submit" value="Удалить запись?"
                  class="btn btn-outline-light m-2"
                  onclick="return confirm('Вы уверены что хотите удалить запись?')">
            </form>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}
