{% extends 'base.html' %}
{% block title %}Страница записи{% endblock %}
{% block content %}

  <div class="bd-example">
      <h2 class="pb-2">{{ post.title }}</h2>
      <img src="/static/images/{{ post.image_post }}" class="img-fluid" >
      <form action="{{ url_for('delete', id=post['id']) }}" method="POST" class="p-3">
         <a class="btn btn btn-secondary" href="{{ url_for('posts') }}">Вернуться на страницу записей</a>
         <a href="{{ url_for('edit_post', id=post['id']) }}" class="btn btn-success">Редактировать</a>
         <input type="submit" value="Удалить?"
            class="btn btn-danger"
            onclick="return confirm('Вы уверены что хотите удалить запись?')">
      </form>
  </div>

{% endblock %}
