{% extends "base.html" %}
{% block title %}Записи{% endblock %}
{% block content %}
<div class="bd-example">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col" colspan="3">Действие</th>
         </tr>
      </thead>
      <tbody>
         {% for post in posts %}
         <tr>
            <th>{{ post['title'] }}</th>
            <td>{{ post['content'] }}</td>
            <td>
               <a href="{{ url_for('get_post', post_id=post['id']) }}"><img
                     src="/static/icons/eye.png" width="16px"></a>
               <div class="col"><a href="{{ url_for('edit_post', id=post['id']) }}"><img
                        src="/static/icons/pencil.png"></a>
                  <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
                     <input type="image" src="/static/icons/trash.png" value="Удалить запись?"
                        onclick="return confirm('Вы уверены что хотите удалить запись?')">
                  </form>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}