{% extends 'base.html' %}
{% block title %}Страница записи{% endblock %}
{% block content %}
<div class="container px-4 py-5" id="custom-cards">
   <h2 class="pb-2">{{ post.title }}</h2>
   <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <p>{{ post.content }}</p>
            <img src="/static/images/{{ post.image_post }}" class="rounded mx-auto d-block" >
            <a class="btn btn-success btn-sm" href="{{ url_for('posts') }}">Вернуться на страницу записей</a>
         </div>
      </div>

   </div>
</div>
{% endblock %}