{% extends 'base.html' %}
{% block title %}Страница записи{% endblock %}
{% block content %}
<div class="col-md-12 p-3">
   <div class="h-200 p-3 text-white bg-dark rounded-1">
      <h2 class="pb-2">{{ post.title }}</h2>
      <img src="/static/images/{{ post.image_post }}" class="rounded mx-auto d-block" >
      <form action="{{ url_for('delete', id=post['id']) }}" method="POST" class="p-3">
         <a class="btn btn-outline-light" href="{{ url_for('posts') }}">Вернуться на страницу записей</a>
         <a href="{{ url_for('edit_post', id=post['id']) }}" class="btn btn-outline-light">Редактировать</a>
         <input type="submit" value="Удалить?"
            class="btn btn-outline-light"
            onclick="return confirm('Вы уверены что хотите удалить запись?')">
      </form>
   </div>
</div>
{% endblock %}
