{% extends 'base.html' %}
{% block title %}Добавить команду Python{% endblock %}
{% block content %}

<div>
   <form method="post">
      <div class="mb-3">
         <label for="python_command" class="form-label">
            <h4>Команда</h4>
         </label>
         <textarea class="form-control" id="python_command" name="python_command" rows="1" placeholder="Введите команду"
            required></textarea>
      </div>
      <div class="mb-3">
         <label for="python_name" class="form-label">
            <h4>Описание команды</h4>
         </label>
         <textarea class="form-control" id="python_name" name="python_name" rows="1"
            placeholder="Введите описание команды" required></textarea>
      </div>
      <div class="mb-3">
         <label for="python_description" class="form-label">
            <h4>Подробно</h4>
         </label>
         <textarea class="form-control" id="python_description" name="python_description" rows="8"
            placeholder="Введите описание команды" required></textarea>
      </div>
      <div class="mb-3">
         <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-outline-light" href="{{ url_for('python_list_commands') }}">Вернуться к списку</a>
            <button type="submit" value="" class="btn btn-outline-light">Сохранить</button>
         </div>
      </div>
   </form>
</div>

{% include 'errors.html' %}
{% endblock %}