{% extends "base.html" %}
{% block title %}Команды Python{% endblock %}
{% block content %}

<div>
   <a class="btn btn-outline-light" href="{{ url_for('add_python_command') }}">Добавить</a>
</div>
<div>
   <table class="table">
      <tr>
         <th>Перейти к записи</th>
         <th>Ссылка</th>
      </tr>
      {% for python_list in python_list %}
      <tr>
         <td><a href="{{ url_for('get_post_python_command', python_id=python_list['python_id']) }}">{{
               python_list['python_name']
               }}</a></td>
         <td>{{ python_list['python_command'] }}</td>
      </tr>
      {% endfor %}
   </table>
</div>
{% endblock %}