{% extends "base.html" %} {% block title %}Команды Python{% endblock %} {% block content %}
<!--В этом коде выводим кнопку добавления вне цикла, так как может не быть записей в таблицу-->
   <div class="card mb-3">
      <div class="card-header text-center">
         <a href="{{ url_for('add_python_command') }}">Добавить запись в базу данных</a>
      </div>
   </div>
<table class="table">
   <thead>
      <tr>
         <th scope="col">Название</th>
         <th scope="col">Команда</th>
         <th scope="col">Описание команды</th>
      </tr>
   </thead>
   {% for python_list in python_list %}
   <tbody>
      <tr>
         <td>{{ python_list['python_name'] }}</td>
         <td>{{ python_list['python_command'] }}</td>
         <td>{{ python_list['python_description'] }}</td>
      </tr>
   </tbody>
   {% endfor %}
   </table>
{% endblock %}