{% extends 'base.html' %}
{% block title %}Страница записи{% endblock %}
{% block content %}
<div class="bd-example">
   <h2 class="pb-2">{{ links_view.title }}</h2>
   <p>{{ links_view['links_name'] }}</p>
   <p><a href="{{ links_view['links_command'] }}" target="_blank">{{ links_view['links_command'] }}</a></p>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="{{ url_for('links_list_commands') }}"><img src="/static/icons/list.png"></a></li>
        <li class="list-group-item"><a href="{{ url_for('edit_links_command', links_id=links_view['links_id']) }}"><img src="/static/icons/pencil.png"></a></li>
        <li class="list-group-item"> <form action="{{ url_for('delete_links_command', links_id=links_view['links_id'])}}" method="POST">
         <input type="image" src="/static/icons/trash.png" value="Удалить запись?"
            onclick="return confirm('Вы уверены что хотите удалить запись?')">
      </form></li>
    </ul>
   </div>
</div>
{% endblock %}