{% extends "base.html" %}
{% block title %}Ссылки{% endblock %}
{% block content %}

<div>
   <a class="btn btn-outline-light" href="{{ url_for('add_links_command') }}">Добавить</a>
</div>
<table class="table">
   <tr>
      <th>Перейти к записи</th>
      <th>Ссылка</th>
   </tr>
   {% for links_list in links_list %}
   <tr>
      <td><a href="{{ url_for('get_post_links_command', links_id=links_list['links_id']) }}">{{
            links_list['links_name'] }}</a></td>
      <td><a href="{{ links_list['links_command'] }}" target="_blank">{{ links_list['links_command'] }}</a></td>
   </tr>
   {% endfor %}
</table>

{% endblock %}