{% extends "base.html" %} {% block title %}Ссылки{% endblock %} {% block content %}

<p><a class="btn btn-success" href="{{ url_for('add_links_command') }}">Добавить новую запись</a></p>
<table class="table table-striped">
   <tr>
      <th scope="col">Название</th>
      <th scope="col">Ссылка</th>
      <th scope="col">Действие</th>
   </tr>
   {% for links_list in links_list %}
   <tr>
      <td>{{ links_list['links_name'] }}</td>
      <td>{{ links_list['links_command'] }}</td>
      <td><a class="btn btn-primary"
            href="{{ url_for('get_post_links_command', links_id=links_list['links_id']) }}">Перейти</a></td>
   </tr>
   {% endfor %}
</table>

{% endblock %}