{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
<form method="post">
   <div class="mb-3">
      <label for="sql_command" class="form-label">
         <h4>Команда</h4>
      </label>
      <textarea class="form-control" id="sql_command" name="sql_command" rows="1" placeholder="Введите команду"
         required>{{ edit_sql_command_view.sql_command }}</textarea>
   </div>
   <div class="mb-3">
      <label for="sql_name" class="form-label">
         <h4>Описание команды</h4>
      </label>
      <textarea class="form-control" id="sql_name" name="sql_name" rows="1" placeholder="Введите описание команды"
         required>{{ edit_sql_command_view.sql_name }}</textarea>
   </div>
   <div class="mb-3">
      <label for="sql_description" class="form-label">
         <h4>Подробно</h4>
      </label>
      <textarea class="form-control" id="sql_description" name="sql_description" rows="8"
         placeholder="Подробно о команде" required>{{ edit_sql_command_view.sql_description }}</textarea>
   </div>
   <div class="mb-3">
      <div class="btn-group" role="group" aria-label="Basic example">
         <a class="btn btn-outline-light" href="{{ url_for('sql_list_commands') }}">Вернуться к списку</a>
         <button type="submit" value="" class="btn btn-outline-light">Сохранить изменения</button>
      </div>
   </div>
</form>
{% include 'errors.html' %}
{% endblock %}