{% extends "base.html" %} {% block title %}Команды sql{% endblock %} {% block content %}
<div class="container p-4">
     <!--В этом коде выводим кнопку добавления вне цикла, так как может не быть записей в таблицу-->
   <div class="card mb-3">
      <div class="card-header text-center">
         <a href="{{ url_for('add_sql_command') }}">Добавить запись в базу данных</a>
      </div>
   </div>
   <table class="table">
   <thead>
      <tr>
         <th scope="col">Название</th>
         <th scope="col">Команда</th>
         <th scope="col">Описание команды</th>
      </tr>
   </thead>
   {% for sql_list in sql_list %}
   <tbody>
      <tr>
         <td>{{ sql_list['sql_name'] }}</td>
         <td>{{ sql_list['sql_command'] }}</td>
         <td>{{ sql_list['sql_description'] }}</td>
      </tr>
   </tbody>
   {% endfor %}
   </table>
{% endblock %}