{% extends "base.html" %} 
{% block title %}Команды sql{% endblock %}
{% block content %}

<div class="card m-2"></div>
   <div class="card-header">
      Добавление новой записи
   </div>
   <div class="card-body">
      <h5 class="card-title">Что делать если нужно добавить новую запись или записей в базе данных вообще нет?</h5>
      <p class="card-text">Просто нажми на кнопку "Добавить" ниже.</p>
      <a class="btn btn-primary" href="{{ url_for('add_sql_command') }}">Добавить</a>
   </div>
</div>
<table class="table table-striped m-2">
   <tr>
      <th>Перейти к записи</th>
      <th>Ссылка</th>
   </tr>
   {% for sql_list in sql_list %}
   <tbody>
      <tr>
         <td><a href="{{ url_for('get_post_sql_command', sql_id=sql_list['sql_id']) }}">{{ sql_list['sql_name']
               }}</a></td>
         <td>{{ sql_list['sql_command'] }}</td>
      </tr>
   </tbody>
   {% endfor %}
</table>

{% endblock %}