{% extends "base.html" %} {% block title %}Команды healthy{% endblock %} {% block content %}
<!--В этом коде выводим кнопку добавления вне цикла, так как может не быть записей в таблицу-->
   <div class="card mb-3">
      <div class="card-header text-center">
         <a href="{{ url_for('add_healthy_post') }}">Добавить запись в базу данных</a>
      </div>
   </div>
<table class="table">
   <thead>
      <tr>
         <th scope="col">Название</th>
         <th scope="col">Описание</th>
      </tr>
   </thead>
   {% for healthy_list in healthy_list %}
   <tbody>
      <tr>
         <td>{{ healthy_list['healthy_header'] }}</td>
         <td>{{ healthy_list['healthy_content'] }}</td>
      </tr>
   </tbody>
   {% endfor %}
   </table>
{% endblock %}