/* Задаем глобальный стиль всем элементам */
* {
    font-family: Bahnschrift;
    font-size: 14pt;
    color: black;
    margin: 0;
    padding: 0;
}
/* Задаем селектору всех ссылок значения */
a {

    text-decoration: none;
}

a:hover {
    color: red;
}