* {
    font-family: system-ui;
}
    
p {
    padding: 10px;
}


.nav-link {
    padding: 0;
}

.btn-success {
    margin: 10px;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 70%;
}
