* {
    font-family: Bahnschrift;
    font-size: 14pt;
    color: black;
}

.list-group-item a, .add{
    text-decoration: none;
    color: black;
    font-size: 11pt;
    font-weight: bold;
}

.list-group-item a:hover{
    color: red;
}