{% extends 'base.html' %}
{% block title %}Аналитика{% endblock %}
{% block content %}
<table class="table">
    <tr>
        <th>Всего записей в таблице bash</th>
        <td>{{ bash_list_count_print_int }}</td>
    </tr>
    <tr>
        <th>Всего записей в таблице sql</th>
        <td>{{ sql_list_count_print_int }}</td>
    </tr>
    <tr>
        <th>Всего записей в таблице links</th>
        <td>{{ links_list_count_print_int }}</td>
    </tr>
    <tr>
        <th>Всего записей в таблице python</th>
        <td>{{ python_list_count_print_int }}</td>
    </tr>
    <tr>
        <th>Последняя запись в таблице Ссылки</th>
        <td>{{ last_links.links_name  }}</td>
    </tr>
    <tr>
        <th>Последняя запись в таблице SQL</th>
        <td>{{ last_sql.sql_name }}</td>
    </tr>
    <tr>
        <th>Последняя запись в таблице Bash</th>
        <td>{{ last_bash.bash_name }}</td>
    </tr>
    <tr>
        <th>Последняя запись в таблице Python</th>
        <td>{{ last_python.python_name }}</td>
    </tr>
</table>


{% endblock %}