{% extends 'base.html' %}
{% block title %}Аналитика{% endblock %}
{% block content %}
<p>Последняя добавленная ссылка</p>
<p>{{ last_links.links_name }}</p>
<p>Последняя добавленная команда SQL</p>
<p>{{ last_sql.sql_name }}</p>
<p>Последняя добавленная команда Bash</p>
<p>{{ last_bash.bash_name }}</p>
<p>Последняя добавленная команда Python</p>
<p>{{ last_python.python_name }}</p>
<p>Всего записей в таблице bash: <b>{{ bash_list_count_print_int }}</b></p>
<p>Всего записей в таблице sql: <b>{{ sql_list_count_print_int }}</b></p>
<p>Всего записей в таблице links: <b>{{ links_list_count_print_int }}</b></p>
<p>Всего записей в таблице python: <b>{{ python_list_count_print_int }}</b></p>
{% endblock %}