{% extends "base.html" %}
{% block title %}Генератор паролей{% endblock %}
{% block content %}
<head>
    <script>
    function reloadPage() {
      location.reload();
    }

    function copyPass() {
      var copyText = document.getElementById("password");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
      // Cleanup focus after copy
      var element = document.activeElement;
      if (element && /INPUT|TEXTAREA/i.test(element.tagName)) {
        if ('selectionStart' in element) {
          element.selectionEnd = element.selectionStart;
        }
        element.blur();
      }

      if (window.getSelection) { // All browsers, except IE <=8
        window.getSelection().removeAllRanges();
      } else if (document.selection) { // IE <=8
        document.selection.empty();
      }
      toastAlert();
    }

    function toastAlert() {
            $(".alert-success").show();
            setTimeout(function() {
                $(".alert-success").fadeOut(1500);
            }, 1500);
    }
    </script>
  </head>
  <body data-spy="scroll" data-target="#topnav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 leadsection innershadow {{ theme }}" id="section1">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <h1>{{ title }}</h1><br>
          <p class="lead"><b>Ваш новый пароль:</b></p>
          <p class="lead"><input type="text" id="password" size="40" value="{{ password }}"></p>
          <a class="btn btn-primary btn-trans" onclick="copyPass()"><i class="fa fa-copy" aria-hidden="true"></i> Скопировать</a>
          <a class="btn btn-primary btn-trans" onclick="reloadPage()"><i class="fa fa-refresh" aria-hidden="true"></i> Сгенерировать</a>
          <div class="alert alert-success collapse" role="alert"> Пароль скопирован в буфер.</div>
        </div>
        <div class="col-md-1">
        </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12 footer">
      {% if debug %}
      Debug: {{ debug_data }} |
      {% endif %}
      </div>
      </div>

    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
      <script>

        $(function () {
          $(document).scroll(function () {
            var $nav = $(".navbar-fixed-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > 200);
          });
        });

        $('body').scrollspy({ target: '#topnav' })

        // DELETE THIS SECTION START
        // DEMO GRADIENTS
        $('.demowell').hover(
           function(){ $(this).addClass('gradient-inverse') },
           function(){ $(this).removeClass('gradient-inverse') }
        )
        //DELETE THIS SECTION END

      </script>
{% endblock %}