{% extends "base.html" %}
{% block title %}Полезные ссылки{% endblock %}
{% block content %}
<div class="bd-example">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Ссылка</th>
      </tr>
    </thead>
    <tbody>
    {% for links in links %}
      <tr>
        <th>{{ links['name'] }}</th>
        <td><a href="{{ links['link'] }}" target="_blank">{{ links['link'] }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}