<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
        <a class="nav-link" href="{{ url_for('links_list_commands') }}">Ссылки</a>
        <a class="nav-link" href="{{ url_for('bash_list_commands') }}">Bash</a>
        <a class="nav-link" href="{{ url_for('sql_list_commands') }}">SQL</a>
        <a class="nav-link" href="{{ url_for('python_list_commands') }}">Python</a>
      </div>
    </div>
  </div>
</nav>