<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Flask Project</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       <div class="navbar-nav">
         <a class="nav-link" href="{{ url_for('new_post') }}">Добавить запись</a>
         <a class="nav-link" href="{{ url_for('posts') }}">Записи</a>
         <a class="nav-link" href="{{ url_for('password') }}">Генератор пароля</a>
         <a class="nav-link" href="{{ url_for('links') }}">Ссылки</a>
         <a class="nav-link" href="{{ url_for('git_list_commands') }}">Команды Git</a>
         <a class="nav-link" href="{{ url_for('bash') }}">Команды Bash</a>
         <a class="nav-link" href="{{ url_for('sql') }}">SQL команды</a>
         <a class="nav-link" href="{{ url_for('pandas_commands') }}">Pandas</a>
       </div>
     </div>
   </div>
</nav>