<nav class="navbar navbar-expand-lg" aria-label="Eleventh navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">WIKI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
      aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('get_tasks_list') }}">Задачи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('analytics') }}">Аналитика</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('values') }}">Значения</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Разделы</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('links_list_commands') }}">Ссылки</a></li>
            <li><a class="dropdown-item" href="{{ url_for('bash_list_commands') }}">Bash</a></li>
            <li><a class="dropdown-item" href="{{ url_for('sql_list_commands') }}">SQL</a></li>
            <li><a class="dropdown-item" href="{{ url_for('python_list_commands') }}">Python</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>