{% extends "base.html" %}
{% block title %}Pandas{% endblock %}
{% block content %}
<div class="bd-example">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Команда</th>
        <th scope="col">Описание</th>
      </tr>
    </thead>
    <tbody>
    {% for pandas_commands in pandas_commands %}
      <tr>
        <td>{{ pandas_commands['command'] }}</td>
        <td>{{ pandas_commands['name'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
