{% extends "base.html" %}
{% block title %}Тренировочный раздел{% endblock %}
{% block content %}
<div class="bd-example">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Возраст</th>
      </tr>
    </thead>
    <tbody>
    {% for train in trains %}
      <tr>
        <td>{{ train['id'] }}</td>
        <td>{{ train['familia'] }}</td>
        <td>{{ train['imya'] }}</td>
        <td>{{ train['otchestvo'] }}</td>
        <td>{{ train['age'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}