<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<div class="container px-4 py-5" id="custom-cards">
	<h2 class="pb-2">Выбирите файл картинки</h2>
	<div class="col">
	   <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
		  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
			<form method="post" action="/" enctype="multipart/form-data">
				<dl>
					<p>
						<input type="file" name="file" autocomplete="off" required>
					</p>
				</dl>
				<p>
					<input type="submit" value="Загрузить">
				</p>
			</form>
		  </div>
	   </div>
	</div>
 </div>
