{% extends 'base.html' %}
{% block title %}Добавить команду{% endblock %}
{% block content %}
<div class="container p-4">
   <form method="post">
      <div class="card mb-3">
         <label for="pandas_command" class="card-header">Команда</label>
         <textarea class="form-control" id="pandas_command" name="pandas_command" rows="1" placeholder="Введите команду"
            required></textarea>
      </div>
      <div class="card mb-3">
         <label for="pandas_name" class="card-header">Описание команды</label>
         <textarea class="form-control" id="pandas_name" name="pandas_name" rows="1" placeholder="Введите описание команды"
            required></textarea>
      </div>
      <div class="card mb-3">
         <label for="pandas_description" class="card-header">Подробно</label>
         <textarea class="form-control" id="pandas_description" name="pandas_description" rows="8" placeholder="Подробно о команде"
            required></textarea>
      </div>
      <ul class="list-group list-group-horizontal">
         <li class="list-group-item">
            <a href="{{ url_for('pandas_list_commands') }}">Вернуться к списку</a>
         </li>
         <li class="list-group-item">
            <button type="submit" value="" class="add">Сохранить</button>
         </li>
      </ul>
   </form>
</div>
<div class="container p-4">
   {% include 'errors.html' %}
</div>
{% endblock %}