{% extends "base.html" %}
{% block title %}Задачи{% endblock %}
{% block content %}

   <div class="card m-2">
      <div class="card-header">
         Добавление новой записи
      </div>
      <div class="card-body">
         <h5 class="card-title">Что делать если нужно добавить новую запись или записей в базе данных вообще нет?</h5>
         <p class="card-text">Просто нажми на кнопку "Добавить" ниже.</p>
         <a class="btn btn-outline-primary" href="{{ url_for('new_task') }}">Добавить</a>
      </div>
   </div>
   <table class="table table-striped">
      <tr>
         <th>Перейти к задаче</th>
         <th>Статус</th>
      </tr>
      {% for tasks_list in tasks_list %}
      <tr>
         <td><a href="{{ url_for('get_post_task', task_id=tasks_list['task_id']) }}">{{ tasks_list['task_name']
               }}</a></td>
         <td>{{ tasks_list['task_status'] }}</td>
      </tr>
      {% endfor %}
   </table>
   
{% endblock %}