{% extends "base.html" %}
{% block title %}Задачи{% endblock %}
{% block content %}
<div>
   <a class="btn btn-outline-light" href="{{ url_for('new_task') }}">Добавить</a>
</div>
<div>
   <table class="table">
      <tr>
         <th>Перейти к задаче</th>
      </tr>
      {% for tasks_list in tasks_list %}
      <tr>
         <td><a href="{{ url_for('get_post_task', task_id=tasks_list['task_id']) }}">{{ tasks_list['task_name']
               }}</a></td>
      </tr>
      {% endfor %}
   </table>
</div>
{% endblock %}